
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
    </li>
  
    
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
  <!-- <style>
    table {
      width:100%;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
      text-align: left;
    }
    table#t01 tr:nth-child(even) {
      background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
     background-color: #fff;
    }
    table#t01 th {
      background-color: black;
      color: white;
    }
    </style>
  <table id="t01">
    <caption>Delivery slots:</caption>
    <tr>
      <td></td>
      <th scope="col">Warning</th>
      <th scope="col">Critical</th>
      <th scope="col">Success</th>
      <th scope="col">Trend</th>
      <th scope="col">Upward trend </th>
      <th scope="col">downward trend</th>
      <th scope="col">1LCL</th>
      <th scope="col">2LCL</th>
      <th scope="col">3LCL</th>
      <th scope="col">3UCL</th>


    </tr>
    <tr>
      <th scope="row">CPU SYSTEM</th>
      <td>{{numerofwarning}}</td>
      <td>Open</td>
      <td>Open</td>
      <td>Closed</td>
      <td>Closed</td>
    </tr>
    <tr>
      <th scope="row">CPU USER</th>
      <td>Open</td>
      <td>Open</td>
      <td>Closed</td>
      <td>Closed</td>
      <td>Closed</td>
    </tr>
    <tr>
      <th scope="row">CPU NICE</th>
      <td>Open</td>
      <td>Open</td>
      <td>Closed</td>
      <td>Closed</td>
      <td>Closed</td>
    </tr>
  
  </table>

</div>
 -->
